$light-color: #e9e9e9;
$water-color: #94c1e1;
$menu-height: 50vh;
$primary-font: 'Work Sans', sans-serif;

body {
  margin: 0;
  background-color: $light-color;
  font-family: $primary-font;
  font-size: 12px;
}

.map-container {
  max-width: 100%;
}

.map-container.in {
  cursor: zoom-in;
}

.map-container.out {
  cursor: zoom-out;
}

.map-image {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0px 1px 5px darken($light-color, 15%);
}

.map-image-container {
  position: relative;
  width: 100%;
  height: auto;
  background: $water-color;
}

.search-menu-container {
  position: relative;
}

.search-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: $menu-height;
  background-color: lighten($light-color, 10%);
  box-shadow: 0px -1px 5px darken($light-color, 15%);
  transition-duration: .5s;
}

.search-menu.closed {
  height: 0;
  padding-top: 0;
}

.search-menu-buttons-container {
  z-index: 2;
  position: relative;
}

.search-menu-buttons {
  z-index: 1;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.search-menu-button {
  height: 25px;
  width: 25px;
  overflow-x: hidden;
  margin: 5px;
  display: inline-block;
  z-index: 5;
}

.display-hidden {
  display: none;
}

.display-block {
  display: block;
}

.background-dark {
  background: darken($light-color, 10%);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.vessel-search {
  height: 100%;
}

.search-menu-panel {
  color: white;
  font-weight: bold;
  padding-top: 2rem;
  font-size: 3rem;
  text-transform: uppercase;
}

.zoom-button, .menu-button {
  display: block;
  font-weight: bold;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: .25rem;
  border: 1px solid darken($light-color, 20%);
  margin: .25rem;
  text-decoration: none;
  background: $light-color;
  color: darken($light-color, 60%);
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menu-button:active {
  background: darken($light-color, 60%);
  color: $light-color;
  transform: scale(1.10);
}

.zoom-button:hover, .zoom-button.zoom-in.in, .zoom-button.zoom-out.out {
  background: darken($light-color, 60%);
  color: $light-color;
  transform: scale(1.10);
  outline: none;
  outline-offset: -4px;
}

.ghost-button, .ghost-button:hover, .ghost-button:active, .ghost-button:focus {
  background: none;
  border: none;
}

.text-panel {
  font-weight: bold;
  font-size: 5rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: white;
}

.search-panel {
  margin-top: 1.5rem;
  width: 100%;
  display: inline-block;
}

input[type="text"] {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  border: 1px solid darken($light-color,10%);
  padding: 1rem;
}

.panel-container {
  display: inline-block;
  width: 50%;
}

.panel-inner {
}

@media only screen and (max-width: 768px) {

  .panel-container {
    width: 100%;
  }

  .map-image, .map-image-container {
    background: $water-color;
    width: auto;
    height: 100vh;
  }
}

.p-2 {
  padding: 2rem;
}

.small {
  font-size: .05rem;
  font-family: $primary-font;
  font-weight: 600;
}
