.map-container {
  max-width: 100%;
}

.map-image {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.map-image-container {
  position: relative;
  width: 100%;
  height: auto;
  background: #94c1e1;
}
